<div class="sessao-pai">
  <div class="sessao-carro">
    <img src="img/ranger.png" alt="">
  </div>

  <div class="sessao-form">
    <section class="sessao-form-logo">
      <img src="img/ford.png" alt="">
    </section>
    <section class="sessao-form-form">
      <h1>Boas-vindas</h1>
      <form action="">

        <div class="input-container">
          <i class="fa-regular fa-user icon-esquerda"></i>
          <input type="email" placeholder="Insira seu e-mail">
          <i class="fa-solid fa-circle-info icon-direita-info"></i>
        </div>

        <div class="input-container">
          <i class="fa-solid fa-lock icon-esquerda"></i>
          <input type="password" placeholder="Insira sua senha">
          <i class="fa-regular fa-eye-slash icon-direita-olho"></i>
        </div>

        <div class="options-container">
          <label for="auto-login">Logar automaticamente</label>
          <div class="toggle-switch-wrapper">
            <input type="checkbox" id="auto-login" class="toggle-checkbox">
            <label for="auto-login" class="toggle-label"></label>
          </div>
          <i class="fa-solid fa-circle-info icon-direita-info"></i>
        </div>

        <button type="submit" class="btn-entrar">Entrar</button>

      </form>
    </section>
  </div>

</div>
