.sessao-pai {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sessao-carro,
.sessao-form {
  width: 50%;
  height: 100%;

}

.sessao-carro img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.sessao-form-logo img {
  width: 25%;
  height: auto;
  max-width: 100%;
  padding-top: 3rem;
}

.sessao-form-logo {
  width: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: center;
}

.sessao-carro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-form {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
}

.sessao-form-div h1 {
  color: #44A66E;
  font-size: 2rem;
  align-self: center;
  padding-bottom: 2rem;

}

/* Contêiner do Formulário */
.sessao-form-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.sessao-form-form-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sessao-form-form-item {
  width: 100%;
  /* Input agora preenche o wrapper */
  height: 2rem;
  border-radius: 3px;
  border: #8d8c8c solid 2px;
  box-sizing: border-box;
  /* ESSENCIAL: Impede que o padding quebre o layout */

  /* Suas regras do ícone da ESQUERDA (continuam iguais) */
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;

}

.sessao-form-form-item:focus {
  /* 1. Muda a cor para seu verde (Fica mais visível) */
  border-color: black;

  /* 2. Deixa a borda mais grossa (como você pediu) */
  border-width: 3px;

  /* 3. Remove o "brilho" padrão do navegador (muito importante) */
  outline: none;
}

.sessao-form-form-item-email {
  background-image: url(/icon/icon_user.svg);
}

.sessao-form-form-item-senha {
  background-image: url(/icon/icon_lock.svg);
  padding-right: 40px;
}


.input-wrapper {
  position: relative;
  width: 75%;
  /* O wrapper tem 75% de largura */
}

.icon-input-right {
  position: absolute;
  right: 12px;
  /* Posição: 12px da borda direita */
  top: 50%;
  /* Posição: Metade da altura */
  transform: translateY(-50%);
  /* Ajuste fino para centralizar verticalmente */

  /* Defina um tamanho e cursor */
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon-outside-info {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  cursor: pointer;
}

.icon-outside-info,
.icon-outside-placeholder {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  cursor: pointer;
}

.icon-outside-placeholder {
  cursor: default;
}