<main>
    <nav class="menu-container">
        <input type="checkbox" id="menu-toggle">
        
        <label for="menu-toggle" class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <div class="menu-items">
            <a href="#">Home</a>
            <a routerLink="/dashboard">Dashbord</a>
        </div>
    </nav>
    <body class="principal">
    
        <div class="principal-agrupamento">
            <div class="principal-agrupamento-topo">
                <h2>Sistema de Dados FORD</h2>
            </div>
            <div class="principal-agrupamento-meio">
                <h2>Seja Bem vindo(a)!</h2>
            </div>
        </div>
    </body>
    
</main>