<div class="sessao-pai">
  <div class="sessao-carro">
    <img src="img/ranger.png" alt="">
  </div>

  <div class="sessao-form">
    <section class="sessao-form-logo">
      <img src="img/ford.png" alt="">
    </section>
    <section class="sessao-form-div">
      <h1>Boas-vindas</h1>
      <section class="sessao-form-form">
        <form action="submit" class="formulario">

          <div class="sessao-form-form-div">
            <div class="input-wrapper">
              <input class="sessao-form-form-item-email sessao-form-form-item" type="email" id="email" name="email"
                placeholder="Insira seu e-mail" [(ngModel)] = "nome">
            </div>
            <img src="/icon/icon_info.svg" alt="Informação" class="icon-outside-info">
          </div>

          <div class="sessao-form-form-div">
            <div class="input-wrapper">
              <input class="sessao-form-form-item-senha sessao-form-form-item" type="password" id="password"
                name="password" placeholder="Insira sua senha" [(ngModel)] = 'password'>
              <img src="/icon/icon_ocultar_senha.png" alt="ocultar senha" class="icon-input-right">
            </div>
            <div class="icon-outside-placeholder"></div>
          </div>
          <div class="sessao-form-form-div">

            <div class="sessao-form-form-login-auto">
              <label for="login-auto-checkbox" class="login-auto-label-texto">Logar automaticamente</label>
              <div class="login-auto-controles">
                <input type="checkbox" id="login-auto-checkbox" class="login-auto-switch-input" />
                <label for="login-auto-checkbox" class="login-auto-switch-label"></label>
              </div>
            </div>

            <img src="/icon/icon_info.svg" alt="Informação" class="icon-outside-info">

          </div>
          <button type="submit" class="botao-entrar" (click)="authentication()">Entrar</button>
        </form>
      </section>
    </section>
  </div>
</div>
