body{
    height: 100vh;
    width: 100vw;
}

.titulo{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
}

.cards{
    height: 220px;
    width: 220px;
    border: 2px solid black;
}

.cards-individual{
    width: 100%;
    height: 20%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}